* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fffab0;
}
h1{
    color:black;
    font-size:50px;

}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
}

.card {
    background: #12ffdb;
    width: 270px;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
}

.card h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.card h1 span {
    font-size: 18px;
    color: #555;
}

.card ul {
    list-style: none;
    text-align: left;
    margin: 20px 0;
}

.card ul li {
    margin: 8px 0;
    font-size: 16px;
}



button {
    margin-top: 15px;
    background: #ff3b3b;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ff2020;
}
