h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 75px;
    color:black;

}
p{
    font-size:20px;
    text-align:justify;
}

body{
    min-height: 100vh;
    background-image:url("");
    background-size : cover;
    background-repeat : no-repeat;
    background-attachment : fixed;
}

.container{
    display:flex;
    border:2px solid violet;
    width:auto;
    height:auto;
    position:relative;
}
.box1{
    background-color:green;
    flex:1;
}
.relative{
    background-color: bisque;
    height:100px;
    width:200px;
    color:aqua;
    position:static;
}
